/*
===================================
    HEADER SECTION START  
===================================
*/
#header {
    padding: 10rem 2rem;
    background: url("../../assets/images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    isolation: isolate;
}

#header:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #001C42, #004C72);
    opacity: .8;
    z-index: -2;
}

#header:before {
    content: "";
    position: absolute;
    left: -40%;
    top: 0;
    height: 100%;
    width: 40%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0));
    z-index: -3;
    animation: overlay 4s ease-in-out infinite forwards;
}

@keyframes overlay {
    to {
        left: 100%;
    }
}

#header .header-content h4 {
    font-size: 2.6rem;
    color: var(--white);
    font-weight: 400;
}

#header .header-content h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 2rem 0;
    color: #fed330;
}

#header .header-content p {
    font-size: 1.8rem;
    color: var(--half-white);
}

#header .header-content .header-btn {
    margin-top: 5rem;
}

#header .header-content .header-btn a {
    font-size: 1.7rem;
    padding: 1rem 3rem;
    background-color: transparent;
    color: var(--white);
    font-weight: 500;
    border: 1px solid var(--white);
    display: inline-block;
    position: relative;
    isolation: isolate;
    transition: .5s ease-in-out;
}

#header .header-content .header-btn a:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--white);
    scale: 0 1;
    transform-origin: right;
    transition: scale .4s ease-in-out;
    z-index: -1;
}

#header .header-content .header-btn a:hover {
    color: var(--blue);
}

#header .header-content .header-btn a:hover:before {
    transform-origin: left;
    scale: 1 1;

}


/*
===================================
    HEADER SECTION END  
===================================
*/
